[Unit]
Description=Elasticsearch
After=network.target
Wants=network-online.target

[Service]
Restart=always
User=elasticsearch
Group=elasticsearch
WorkingDirectory=/opt/elasticsearch
Type=simple
ExecStart=/opt/elasticsearch/bin/elasticsearch
{%  if ansible_architecture == "arm7l" %}
Environment="JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-armhf"
{% endif %}
{%  if ansible_architecture == "x86_64" %}
Environment="JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64"
{% endif %}


[Install]
WantedBy=multi-user.target